.infoModal {
  max-width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: justify;
  min-height: 60vh;

  .headerGroup {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    gap: 30px;

    .priceGroup {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      align-items: center;

      .priceItem {
        display: flex;
        flex-direction: column;
        align-items: start;

        .priceHeader {
          font-weight: bold;
        }
      }
    }
  }

  p {
    font-size: 14px;
  }

  .buttonGroup {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 30px;
  }
}
