.productPage {
  min-height: 70%;
  display: flex;
  gap: 30px;
  padding: 15px 100px;
}

.select {
  margin-bottom: 12px;
}

.infoModal {
  width: 80vw;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: justify;
  min-height: 60vh;

  .headerGroup {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    gap: 30px;

    .priceGroup {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      align-items: center;

      .priceItem {
        display: flex;
        flex-direction: column;
        align-items: start;

        .priceHeader {
          font-weight: bold;
        }
      }
    }
  }

  p {
    font-size: 14px;
  }
}

.buttonGroup {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  gap: 20px;
  margin-top: 30px;
}

.storagesContainer {
  display: flex;
  gap: 20px;

  .storageItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 8px;
    border: 2px solid lightgray;
    width: fit-content;
    padding: 10px;
    cursor: pointer;

    img {
      width: 50px;
    }

    p {
      margin: 0;
    }
  }

  .activeStorage {
    border: 2px solid black;
    background-color: #f2f2f2;
  }
}
