.headerContainer {
  width: 100vw;
  background: white;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  nav,
  ul {
    display: flex;
  }

  ul {
    gap: 25px;
    list-style: none;
  }

  li {
    cursor: pointer;
    display: flex;
    align-items: center;
    &:hover {
      color: #6290cf;
    }
  }

  .user {
    width: 40px;
    height: 40px;
    background: #f2f2f2;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 20px;
      height: 20px;
    }
  }
}
